.green__galery {
    margin: 120px 0 100px;
    padding: 0;
    width: 510px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .green__galery {
        margin: 100px 0 80px;
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .green__galery {
        flex-direction: column;
        margin: 80px auto 60px;
        width: 600px; 
    }
}

@media screen and (max-width: 700px) {
    .green__galery {
        margin: 60px auto 40px;
        width:450px;
    }
}

@media screen and (max-width: 500px) {
    .green__galery {
        width: 375px;
    }
}

@media screen and (max-width: 380px) {
    .green__galery {
        width: 300px;
    }
}