.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    grid-area: links;
}

@media screen and (max-width: 700px) {
    .footer__links {
        flex-direction: column;
    }
}