.green__image-block {
    margin: 0;
    padding: 0;
    align-self: flex-end;
    width: 600px;
}

@media screen and (max-width: 1280px) {
    .green__image-block {
        margin-bottom: 20px;
        width: 400px;
    }
}

@media screen and (max-width: 1024px) {
    .green__image-block {
        margin: 0;
        margin-top: 100px;
        align-self: flex-start;
    }
}

@media screen and (max-width: 900px) {
    .green__image-block {
        margin: 0 auto;
        width: 600px;
        align-self: center;
    }
}

@media screen and (max-width: 700px) {
    .green__image-block {
        margin: 0 auto;
        width: 450px;
    }
}

@media screen and (max-width: 500px) {
    .green__image-block {
        width: 375px;
    }
}

@media screen and (max-width: 380px) {
    .green__image-block {
        width: 300px;
    }
}